/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --success-color: #00bf19;
    --error-color: #d91e0d;
    --border-radius: 4px;
    --border-2px-solid: 2px solid;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f2faff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 400px;
    margin: 0 auto;
}

.form {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

h2 {
    text-align: center;
    color: #555;
}

.form-control label {
    display: block;
    color: rgba(99, 99, 99, 0.897);
    margin-top: 10px;
}

.form-control input {
    display: block;
    padding: 14px;
    width: 100%;
    border: var(--border-2px-solid) #eeeeee;
    border-radius: var(--border-radius);
    margin-top: 10px;
}
.form-control input::placeholder {
    opacity: 0.7;
}
.form-control input:focus {
    outline-color: #aaa;
}

.form button {
    cursor: pointer;
    background-color: #008ac9;
    border: none;
    padding: 15px;
    border-radius: var(--border-radius);
    color: #fff;
    margin-top: 10px;
    width: 100%;
    transition: background-color 0.5s ease;
}
.form button:hover {
    background-color: #006797;
}


.form-control small {
    color: var(--error-color);
    visibility: hidden;
}

/* Javascript Classes */

.form-control.success input {
    border: var(--border-2px-solid) var(--success-color);
}
.form-control.error input {
    border: var(--border-2px-solid) var(--error-color);
}

.form-control.error small {
    visibility: visible;
}




